In [9]:
import pandas as pd
homicidios_df = pd.read_excel("homicidios.xlsx")

In [10]:
homicidios_df.isnull().sum()

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

In [11]:
# Imputar el valor más frecuente
altura_mode = homicidios_df['Altura'].mode()[0]
homicidios_df['Altura'].fillna(altura_mode, inplace=True)

In [12]:
homicidios_df.isnull().sum()

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                     0
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

In [6]:
# Imputar el valor más frecuente
altura_mode = homicidios_df['Cruce'].mode()[0]
homicidios_df['Cruce'].fillna(altura_mode, inplace=True)

In [7]:
homicidios_df.isnull().sum()

ID                       0
N_VICTIMAS               0
FECHA                    0
AAAA                     0
MM                       0
DD                       0
HORA                     0
HH                       0
LUGAR_DEL_HECHO          0
TIPO_DE_CALLE            0
Calle                    1
Altura                   0
Cruce                    0
Dirección Normalizada    8
COMUNA                   0
XY (CABA)                0
pos x                    0
pos y                    0
PARTICIPANTES            0
VICTIMA                  0
ACUSADO                  0
dtype: int64

In [ ]:
# Renombrar la columna 'id' en homicidios_df
homicidios_df.rename(columns={'id': 'id'}, inplace=True)

# Unir los DataFrames utilizando la columna 'id'
tabla_final = pd.merge(lesiones_df, homicidios_df, on='id', how='inner')

In [14]:
homicidios_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 696 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [15]:
homicidios_df.columns = homicidios_df.columns.str.lower()

In [17]:
homicidios_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     696 non-null    object
 1   n_victimas             696 non-null    int64
 2   fecha                  696 non-null    datetime64[ns]
 3   aaaa                   696 non-null    int64
 4   mm                     696 non-null    int64
 5   dd                     696 non-null    int64
 6   hora                   696 non-null    object
 7   hh                     696 non-null    object
 8   lugar_del_hecho        696 non-null    object
 9   tipo_de_calle          696 non-null    object
 10  calle                  695 non-null    object
 11  altura                 696 non-null    float64
 12  cruce                  525 non-null    object
 13  dirección normalizada  688 non-null    object
 14  comuna                 696 non-null    int64
 15  xy (caba)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  participantes          696 non-null    object
 19  victima                696 non-null    object
 20  acusado                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [18]:
# Obtener los nombres de las columnas de homicidios_df
nombres_columnas_homicidios = homicidios_df.columns.tolist()

# Imprimir los nombres de las columnas
print("Nombres de las columnas de homicidios_df:", nombres_columnas_homicidios)

Nombres de las columnas de homicidios_df: ['id', 'n_victimas', 'fecha', 'aaaa', 'mm', 'dd', 'hora', 'hh', 'lugar_del_hecho', 'tipo_de_calle', 'calle', 'altura', 'cruce', 'dirección normalizada', 'comuna', 'xy (caba)', 'pos x', 'pos y', 'participantes', 'victima', 'acusado']

In [19]:
homicidios_df.to_csv('homicidios_etl.csv', index=False)

In [20]:
homicidios_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     696 non-null    object
 1   n_victimas             696 non-null    int64
 2   fecha                  696 non-null    datetime64[ns]
 3   aaaa                   696 non-null    int64
 4   mm                     696 non-null    int64
 5   dd                     696 non-null    int64
 6   hora                   696 non-null    object
 7   hh                     696 non-null    object
 8   lugar_del_hecho        696 non-null    object
 9   tipo_de_calle          696 non-null    object
 10  calle                  695 non-null    object
 11  altura                 696 non-null    float64
 12  cruce                  525 non-null    object
 13  dirección normalizada  688 non-null    object
 14  comuna                 696 non-null    int64
 15  xy (caba)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  participantes          696 non-null    object
 19  victima                696 non-null    object
 20  acusado                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [23]:
homicidios_df.tail(3)

,id,n_victimas,fecha,aaaa,mm,dd,hora,hh,lugar_del_hecho,tipo_de_calle,...,altura,cruce,dirección normalizada,comuna,xy (caba),pos x,pos y,participantes,victima,acusado
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,365.0,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

In [26]:
# Convertir la columna 'aaaa' a tipo datetime si no está en ese formato
homicidios_df['aaaa'] = pd.to_datetime(homicidios_df['aaaa'])

# Filtrar las filas para el año 2022
datos_2022 = homicidios_df[homicidios_df['aaaa'].dt.year == 2022]

# Filtrar las filas para el año 2023
datos_2023 = homicidios_df[homicidios_df['aaaa'].dt.year == 2023]

# Verificar si hay datos para los años 2022 y 2023
if not datos_2022.empty:
    print("Hay datos para el año 2022")
else:
    print("No hay datos para el año 2022")

if not datos_2023.empty:
    print("Hay datos para el año 2023")
else:
    print("No hay datos para el año 2023")

No hay datos para el año 2022
No hay datos para el año 2023